/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
header {
    background-color: #222;
    color: white;
    padding: 50px;
}
.button {
    text-decoration: none;
    background: blue;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
}
section {
    padding: 30px;
    background: white;
    margin: 20px auto;
    width: 80%;
    box-shadow: 2px 2px 10px gray;
}
footer {
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: white;
}
